name: CI Testing
on:
  push:
      paths-ignore:
        - 'README.md'
        - '.github/workflows/**'
  pull_request:
  workflow_dispatch:
    inputs:
      wine_version:
        description: "Select the wine version to pin the build to"
        required: true
        default: ''
        type: string
      lug_rev:
        description: "Select the lug revision"
        required: true
        default: '1'
        type: string
jobs:
  ci_run:
    uses: starcitizen-lug/lug-wine/.github/workflows/build-artifacts.yml@main
    with:
      wine_version: ${{ github.event.inputs.wine_version }}
      lug_rev: ${{ github.event.inputs.lug_rev }}
