name: Release Artifacts

on:
  workflow_dispatch:
    inputs:
      wine_version:
        description: "Select the wine version to pin the build to"
        required: true
        default: ''
        type: string
      lug_rev:
        description: "Select the lug revision"
        required: true
        default: '1'
        type: string

jobs:
  build:
    uses: starcitizen-lug/lug-wine/.github/workflows/build-artifacts.yml@main
    with:
      wine_version: ${{ github.event.inputs.wine_version }}
      lug_rev: ${{ github.event.inputs.lug_rev }}
  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./out
          merge-multiple: true
      - name: Find tag
        id: find
        shell: bash {0}
        run: |
          echo "$(ls ./out)"
          file="$(find . -name '*.tar.gz' | head -n1)"
          version="$(echo $file | grep -oE '[0-9]+\.[0-9]+(-[0-9]+)?')"
          echo "version: $version"
          echo "NEW_TAG=$version" >> $GITHUB_OUTPUT
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: false
          tag_name: ${{ steps.find.outputs.NEW_TAG }}
          files: |
            ./out/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
